.intro {
	margin-top: 20px;
	margin-bottom: 10px;
}

.steps {
	padding: 40px;
	width: 100%;
	margin: 40px -40px;
}

.stepContent {
	padding: 20px;
}

.code {
	background: #eee;
	font-weight: bold;
	font-family: monospace;
	font-size: 1rem;
	padding: 5px;
}
